<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
    >
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/home"
                ><mat-icon aria-label="Side nav toggle icon">home</mat-icon
                ><span>Home</span></a
            >
            <a mat-list-item routerLink="/daemon"
                ><mat-icon aria-label="Side nav toggle icon">dns</mat-icon
                ><span>Daemon</span></a
            >
            <a mat-list-item routerLink="/settings"
                ><mat-icon aria-label="Side nav toggle icon">settings</mat-icon
                ><span>Settings</span></a
            >
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async"
            >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>TubeRS</span>

            <span class="toolbar-spacer"></span>

            <button
                mat-icon-button
                class="example-icon"
                aria-label="Copy JS Snippet"
            >
                <mat-icon>star</mat-icon>
            </button>
        </mat-toolbar>
        <!-- Add Content Here -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
